
.root
{
    -fx-background-color:           rgb(34,38,44);
    -fx-font-familiy:               "Ubunbtu";
}

.button
{
    -fx-background-color:           rgb(121, 152, 255);
    -fx-background-radius:          5,4,3,5;
    -fx-background-insets:          0,1,2,0;
    -fx-text-fill:                  white;
    -fx-effect:                     dropshadow
                                    (
                                        three-pass-box,
                                        rgba(0,0,0,0.6),
                                        5,
                                        0.0,
                                        0,
                                        1
                                    );
    -fx-font-family:                "Ubuntu";
    -fx-text-fill:                  linear-gradient(white, #d0d0d0);
    -fx-font-size:                  20px;
    -fx-font-weight:                bold;
    -fx-padding:                    10 20 10 20;
    
}

.button2
{
    
}

.slider
{
    
}

